@import url(https://fonts.googleapis.com/css?family=Arimo:regular);

$fontfamily: "Arimo", sans-serif;

@import "_nullstyle";

body {
	font-family: $fontfamily;
	background: #181818;
	color: #F3F6F9;
	overflow-wrap: break-word;
}

.container {
	max-width: 930px;
	margin: 0 auto;
}

.header {
	margin: 80px 0 20px;
	
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		padding: 0 70px;
	}

	&__title {
		border-radius: 200px;
		border: 1px solid #6532F8;
		background: #6532F8;
		padding: 10px 22px;
		text-align: center;
		font-size: 15px;
		line-height: normal;
		letter-spacing: -0.6px;
		text-transform: uppercase;
	}

	&__subtitle {
		margin-bottom: 45px;
		padding: 0 70px;
		font-size: 120.4px;
		line-height: normal;
		letter-spacing: -4.817px;
	}
}

.page {

	&__wrapper {
		max-height: 986px;
		border-radius: 20px;
		background: #232323;
		padding: 70px;
		overflow-y: auto;
	}
}

.receipt {

}

.form {
	display: flex;
	gap: 20px;
	margin-bottom: 40px;

	&__input {
		width: 411px;
		background-color: inherit;
		border-bottom: 1px solid #F3F6F9;
		opacity: 0.5;
		font-size: 30px;
		line-height: 62px;
	}

	&__addBtn {
		height: 62px;
		width: 62px;
		background: url('../resourses/img/icon/arrow.svg') center/31px no-repeat;
		background-color: #6532F8;
		border-radius: 50%;
	}
}

.movies {

	&__list {
		display: flex;
		flex-direction: column-reverse;
	}

	&__list-item {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 71px;
		margin-bottom: 3px;
		padding: 0 20px;
		border-radius: 10px;
		background: #3A3939;
	}
}

.movie {

	&__checkbox {

		&:checked {
			& + span {
				text-decoration: line-through;
			}
		}
	}

	&__title {
		font-size: 20px;
		line-height: normal;
		letter-spacing: -0.4px;
	}

	&__deleteBtn {
		height: 23px;
		width: 23px;
		background: url('../resourses/img/icon/close.svg') center/contain no-repeat;
	}
}

.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 15px;
	gap: 15px 50px;
	color: rgba(255, 255, 255, 0.5);

	&__telegram {}

	&__cr {}
}